html {
    background-image: url('/imgs/pattern1.jpg');
    background-size: cover;
}

body {
    width: 1000px;
    margin: auto;
    background-color: rgb(54, 96, 134);
    color: rgb(232, 237, 233);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "pt pt"
        "el pa"
        "td mt"
        "ip ip";
}

#page-title {
    grid-area: pt;
    background-color: rgb(35, 62, 85);
    padding: 20px;

    h1 {
        font-size: 2em;
    }    

    p {
        font-size: 1.5em;
    }
}

#elements, #path, #todo, #more-todo {
    border: 1px solid rgb(234, 223, 213);
    background-color: rgb(70, 117, 158);
    border-radius: 10px;
    margin: 14px;
    padding: 20px;

    h2 {
        text-transform: uppercase;
    }
}

#elements {
    grid-area: el;
}

#path {
    grid-area: pa;
}

#todo {
    grid-area: td;
}

#more-todo {
    grid-area: mt;
}

#image-panel {
    grid-area: ip;
    margin: auto;
    width: 880px; 

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    img {
        width: 200px;
        border: 1px solid black;
        border-radius: 4px;
    }
}

